#about-text,#index-text
{
	
	text-align: center;
    
}
#about-des{
    color:white;
}

#contact-text
{
	float: left;
	padding-left: 80px;
	padding-top: 280px;
}
#abc,#def{
	margin-top:0;
	padding-top:0;
	text-align: center;
}


#aboutuspage
{
	background-image: url(image/background.jpg);
    
	background-repeat: no-repeat;
	height: 900px;
}

#book
{
	background-image: url(image/white.jpg);
	background-repeat: no-repeat;
	height: 900px;
}

#contactuspage
{
	background-image: url(image/background.jpg);
	background-repeat: no-repeat;
	height: 800px;
}

#table
{
	padding-top: 25px;

}

#quote
{
	float: right;
	margin-left: 820px;
	text-align: center;
}

#form
{
	float: left;
	margin-top: 50px;
	margin-left: 620px;
	font-size: 25px;
    color: black;

}
#bs-text{
	text-align: center;
	padding-left: 70px;
	padding-right:70px;
	color: white;
}

#bs-text1{
	text-align: center;
	padding-left: 310px;
	padding-right:310px;
	color: white;
}

#bs-text2{
	text-align: center;
	padding-left: 310px;
	padding-right:380px;
	color: white;
}



h1
{
	
	padding-top: 85px;
	padding-left: 40px;
	font-size: 70px;
    font-family: cursive;
    color: grey;
    
}

h2
{
	font-size: 60px;
	padding-right: 50px;
	padding-top: 250px;
    font-family: monospace;
    color: lightgray;
   
}

h3
{
	font-size: 55px;
    color: blue;
}

h4
{
	font-size: 30px;
    color: blue;
    
}
*
{
	margin: 0px auto;
	padding: 0px auto;
	box-sizing: border-box;
}
header
{
	background-image: url(image/banner.jpg);

	height: 250px;
	
	background-position: scale;
    background-repeat: no-repeat;
   

}



p
{

	padding-top: 20px;
	font-size: 40px;
    color: lightgray;
    margin-left: 10px;
}

.error	
{	
    color:red;
	}
table a{
    color: black;
}
table a:hover{
    color: grey;
}
input[type=text] 
{
		 
		  width: 100%;
		  padding: 10px 20px;
		  margin: 8px 0;
		  box-sizing: border-box;
    
		}
input[type=submit]
{
		  background-color: #333333;
		  border: none;
		  color: white;
		  padding: 12px 24px;
		  text-decoration: none;
		  margin: 4px 2px;
		  cursor: pointer;
		}

ul {
    list-style-type: none;
    margin: 50;
    padding: 30;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: blue;
}
td a:hover{
	color:blue;
}



footer
{
	background-color: #333333;
	font-size: 1em;							
	font-style: italic;							
	text-align: center;
	color: white;
	padding: 1em;
}

table
{
	width: 60%;
	border-collapse: collapse;
	margin:0px auto;
}

tr:nth-of-type(odd)
{
	background: lightgray;
}

th
{
	background:#333;
	color: white;
	font-weight: bold;
}

td, th
{
	padding: 10px;
	border:2px solid #333;
	text-align: left;
	
}
td a{
	text-decoration: none;
}


#index
{
	background-image: url(image/background.jpg);
	background-repeat: no-repeat;
	height: 900px;
}
#index-white
{
	background-image: url(image/white.jpg);
	background-repeat: no-repeat;
	height: 900px;
}






